google-generativeai
streamlit
protobuf~=3.19.0
InstructorEmbedding==1.0.1
huggingface==0.0.1
langchain-openai
langchain 
openai 
pandas
tabulate
python-dotenv
openpyxl
pandasai
pypdf
tiktoken
sentence-transformers
faiss-cpu
tensorflow 
pytorch