streamlit
google-generativeai
protobuf~=3.19.0
InstructorEmbedding==1.0.1
huggingface==0.0.1
langchain-openai
langchain 
openai 
pandas
python-dotenv
tiktoken
sentence-transformers
faiss-cpu
langchain_community
langchain_coresssss